<ng-container *ngIf="product.length !=0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead><br>
            <h1>YOUR PRODUCTS LIST</h1><br>
            <tr>
              <th>No.</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of product; let i = index">
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td>
                <img style="width: 120px;" src="{{product.mainImage}}" alt="">
              </td>
              <th style="width: 12%;">{{product.price.amount}}</th>
              <td>
                <button (click)="removeProduct(product)" class="btn btn-danger">Remove</button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button>
              </td>
              <td>
                <button routerLink="/homepage" class="btn btn-success">Continue Shopping</button>
              </td>
              <!-- <td><button class="btn btn-success">Buy</button></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="product.length ==0">
  <div class="container">
    <div class="center">
      <h1>Your cart is empty!</h1>
      <button routerLink="/homepage" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>