<div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="image">
          <img src="{{product.mainImage}}" alt="products" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="details">
          <div>
            <h1 class="title">{{product.name}}  [{{product.brandName}}]</h1>
          </div>
          <!-- <div class="brandName"><h1>{{product.brandName}}</h1></div> -->
          <div class="price pt-2">
            <h2>Price : {{product.price?.amount}} {{product.price?.currency}}</h2>
          </div>
          <h3 class="pt-2">Choose size in stock :</h3>
          <div class="input" *ngFor="let sizes of product.sizes ">
            <input type="text" class="form-control" value="{{sizes}}" readonly>
          </div>
          <div class="colour mt-2 ">
            <h3>Color Shown : {{product.colour}}</h3>
          </div>
          <div class="stockStatus ">
            <h3>{{product.stockStatus}}</h3>
          </div>
          <div class="description">
            <h3>{{product.description}}</h3>
          </div>
          <button (click)="addToCart()" class="btn btn-secondary btn-lg ">Add To Card</button>
        </div>
      </div>
    </div>
  </div>