<div class="container-shoe">
  <div class="card" *ngFor="let products of product">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" (click)="seeDetails(products.id)">
      <img src="{{products.mainImage}}" alt="products" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body" (click)="seeDetails(products.id)">
      <h2 class="card-title truncated">{{products.name}}</h2>
      <p class="card-text truncated">{{products.description}}
      </p>
    </div>
    <!-- <button (click)="addToCart(products)" class="btn btn-secondary">Add To Card</button> -->
  </div>
</div>
<router-outlet></router-outlet>